  {% load static %}
  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{% static 'assets/img/profile-img.png' %}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="{% url 'index' %}">George Wong</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://x.com/joji_jiji" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="https://github.com/psyduck890" class="github"><i class="bx bxl-github"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active" target="_blank"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->